<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         controlGarbageCollector="true"
         beStrictAboutChangesToGlobalState="true"
         requireCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1" />
        <server name="APP_ENV" value="test" force="true"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=0"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <include>
            <group>unit</group>
            <group>integration</group>
        </include>
    </groups>

    <coverage
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="var/cache/coverage-report" lowUpperBound="80" highLowerBound="95"/>
        </report>
    </coverage>


</phpunit>
